fastapi
uvicorn
pydantic
psycopg2-binary
sqlalchemy
pinecone
sentence-transformers
transformers
torch
numpy
scikit-learn
requests
python-dotenv
nltk
beautifulsoup4
hf_xet
groq
fastmcp
pdfplumber
docx2txt
