fastapi
uvicorn
pydantic
pinecone
sentence - transformers
torch
numpy
scikit - learn
requests
python - dotenv
nltk
hf_xet
groq
python - docx
pdfplumber
langdetect
fastmcp
sympy
tavily - python
langchain
langchain - core
langchain - community
langchain - experimental
langchain - neo4j
langchain - groq
neo4j
